/*
* This SCSS does not affect your Assets like: 
* Bootstrap..etc
*/
.cls-header {
  height: 600px;
  border: none;
  padding: 1px;
  background: url(https://images.unsplash.com/photo-1516937941344-00b4e0337589?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-attachment: fixed;
  position: relative;
  -webkit-clip-path: polygon(100% 0, 100% 88%, 66% 100%, 31% 90%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 88%, 66% 100%, 31% 90%, 0 100%, 0 0);
  /*@include sm {
  padding: 1px 20px;
  height: 750px;
}*/ }
  .cls-header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, rgba(0, 198, 255, 0.48));
    z-index: -1; }

.cls-logo {
  filter: brightness(1000%);
  height: 40px;
  padding: 0px !important; }

.cls-navigation-link {
  color: white;
  position: relative; }
  .cls-navigation-link::after {
    content: '';
    width: 50%;
    height: 0px;
    border-radius: 5px;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    position: absolute;
    transition: 0.2s; }
  .cls-navigation-link:hover::after {
    height: 5px; }

.cls-navigation-link.cls-special-btn {
  position: absolute;
  top: 14px;
  right: 0;
  border: 1px solid white;
  z-index: 1;
  transition: color 1s; }
  .cls-navigation-link.cls-special-btn::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: 0.5s; }
  .cls-navigation-link.cls-special-btn:hover {
    color: #00c6ff; }
    .cls-navigation-link.cls-special-btn:hover::before {
      width: 100%; }

.cls-header-text {
  color: white;
  font-size: 40px;
  font-family: 'segoe ui';
  font-weight: bolder !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  width: 700px;
  line-height: 55px; }
  @media (max-width: 700px) {
    .cls-header-text {
      width: 100% !important; } }

.cls-header-title b {
  font-weight: 100 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 2; }
  .cls-header-title b::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
    transform: skew(-25deg);
    background: black;
    border-bottom: 1px solid white; }
  .cls-header-title b::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: -2;
    margin-bottom: -10px;
    margin-left: 10px;
    transform: skew(-25deg);
    background: black; }

.cls-button {
  font-size: 17px;
  padding: 10px 15px;
  background: transparent;
  border: 5px solid black;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500 !important;
  transform: rotate(-2deg);
  position: relative;
  z-index: 1;
  margin-top: 50px;
  transition: 0.2s; }
  .cls-button::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    position: absolute;
    z-index: -1;
    transform: rotate(5deg);
    transition: 0.2s; }
  .cls-button:hover {
    transform: rotate(0deg); }
    .cls-button:hover::before {
      transform: rotate(0deg); }

.cls-header-container {
  margin-top: 80px; }

.cls-main-body {
  background: white;
  font-family: 'segoe ui'; }

.cls-first-label {
  font-size: 30px;
  font-family: 'segoe ui';
  font-weight: 100;
  padding-bottom: 0px !important;
  font-weight: 100 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 2; }
  .cls-first-label::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
    transform: skew(-25deg);
    background: #ffe5b4;
    border-bottom: 1px solid white;
    transition: 1s;
    transition-timing-function: cubic-bezier(); }

.cls-desc-text {
  line-height: 35px;
  font-size: 30px;
  font-weight: 100;
  font-family: 'segoe ui'; }
  .cls-desc-text::first-letter {
    text-transform: uppercase; }
  @media (max-width: 700px) {
    .cls-desc-text {
      font-size: 25px !important;
      line-height: 30px !important; } }

.cls-highlighted {
  position: relative;
  z-index: 1; }
  .cls-highlighted::before {
    content: '';
    height: 40%;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffe5b4;
    z-index: -1;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); }

.cls-section-p {
  font-size: 29px;
  line-height: 40px;
  color: #666666;
  font-weight: 100; }

.cls-down-animation {
  animation: slide2 1s ease-in-out infinite;
  color: white;
  width: 50px;
  height: 50px;
  background: #20454E;
  border-radius: 100px;
  font-size: 25px; }

@keyframes slide2 {
  0%,
  100% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); } }

.cls-posts-article {
  transition: 0.1s; }
  .cls-posts-article:hover {
    background: #20454E;
    border: 1px solid transparent;
    border-bottom: none; }
    .cls-posts-article:hover span, .cls-posts-article:hover h1, .cls-posts-article:hover i {
      transition: 0.1s;
      color: white !important; }
    .cls-posts-article:hover img {
      transition: 0.1s;
      filter: brightness(1000%); }

.cls-landing-posts-container {
  padding: 15px 0px 0px 0px !important;
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.1); }

.cls-body {
  padding-bottom: 50px !important; }

.cls-footer-container {
  padding: 15px 0px !important; }

.cls-footer-ul {
  line-height: 37px; }

.cls-footer {
  color: white;
  margin-top: 100px;
  height: auto !important;
  padding: 50px 0px !important;
  background: url(https://images.unsplash.com/photo-1522165078649-823cf4dbaf46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-attachment: fixed;
  position: relative;
  z-index: 1; }
  .cls-footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #0008ff;
    background: -webkit-linear-gradient(to right, #0008ff, #00c6ff);
    background: linear-gradient(to right, #0008ff, rgba(0, 198, 255, 0.48));
    z-index: -1; }

.cls-section-container:hover .cls-hover-before::before {
  height: 80%;
  background: #00c6ff !important; }

.cls-quoted-p::before {
  content: '\f10d';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 15px; }

.cls-quoted-p::after {
  content: '\f10e';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 15px; }

.cls-shape {
  position: relative;
  z-index: 1; }
  .cls-shape::before {
    content: '';
    -webkit-clip-path: polygon(85% 0, 100% 78%, 0 89%, 0 27%);
    clip-path: polygon(85% 0, 100% 78%, 0 89%, 0 27%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; }

.cls-navigation {
  position: relative;
  padding-left: 0px !important; }

.cls-sticky-nav {
  background: transparent; }

.cls-letter-space-px {
  letter-spacing: 2px; }

.cls-gradient {
  background: url(https://images.unsplash.com/photo-1496469888073-80de7e952517?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
  position: relative;
  z-index: 1;
  padding: 50px !important; }
  .cls-gradient::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0008ff;
    background: -webkit-linear-gradient(to right, #0008ff, #00c6ff);
    background: linear-gradient(to right, #0008ff, rgba(0, 198, 255, 0.48));
    z-index: -1; }
  .cls-gradient p {
    line-height: 60px;
    font-size: 40px; }

.cls-btn-primary {
  background: #00c6ff;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  position: relative;
  transition: 0.5s; }
  .cls-btn-primary::after {
    content: '\f105';
    font-weight: bold;
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 12px;
    margin-right: 15px;
    opacity: 0;
    transition: 0.6s; }
  .cls-btn-primary:hover {
    padding-right: 45px; }
    .cls-btn-primary:hover::after {
      opacity: 1; }

.cls-red {
  color: #BC384B; }

.cls-border-red {
  border-color: #BC384B; }

.cls-form-container {
  padding: 30px !important; }
  .cls-form-container .cls-absolute-div {
    margin: 52px; }

.cls-text-white {
  color: white; }

.cls-before-transparent::before {
  background: rgba(0, 0, 0, 0.5); }

.cls-z-index-3 {
  z-index: 3; }

.cls-border-hover {
  position: relative;
  z-index: 1; }
  .cls-border-hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background: #ffe5b4;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: 0.2s; }
  .cls-border-hover:hover::before {
    height: 30%; }

@media (max-width: 700px) {
  .cls-small-mobile {
    height: 30px !important; } }

.cls-not-bright {
  filter: brightness(-100%); }

.cls-btn-right {
  position: absolute !important;
  right: 0;
  top: 0;
  margin: 15px; }
  .cls-btn-right::after {
    content: '\f055' !important; }

.cls-title-label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  opacity: 0.9; }

.cls-p-l-0 {
  padding-left: 0px !important; }

.cls-grey-body {
  background: #f1f1f1;
  position: relative !important;
  font-family: 'segoe ui' !important; }

.cls-pagination-btn {
  padding: 10px !important;
  opacity: 0.8;
  border-bottom: 2px solid transparent;
  transition: 0.2s; }
  .cls-pagination-btn:hover {
    font-weight: bold;
    border-color: black; }

.cls-post-card {
  color: #20454E;
  padding: 20px !important;
  font-family: 'segoe ui'; }

.cls-post-brand-logo {
  width: 70px;
  padding: 0px !important; }

.cls-date-input {
  padding-top: 9px !important;
  padding-bottom: 9px !important; }

.cls-profile-side-nav {
  padding: 25px !important;
  color: white;
  font-size: 17px;
  font-weight: 100; }

.cls-p-0 {
  padding: 0px !important; }

.cls-side-nav-img-container {
  padding: 5px !important; }

.cls-p-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.cls-letter-spacing-2 {
  letter-spacing: 2px; }

.cls-p-y-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.cls-letter-spacing-1 {
  letter-spacing: 1px; }

.cls-app-side {
  position: fixed !important;
  left: 0;
  top: 0;
  bottom: 0; }

.cls-cancel-btn {
  background: #eee;
  color: #2b2b2b; }
  .cls-cancel-btn::after {
    content: '\f057'; }

.cls-alert {
  border-left: 3px solid;
  background: #b3ffb3;
  color: black;
  font-weight: 100;
  font-size: 20px;
  border-color: black; }

.cls-alert-error {
  border-left: 3px solid;
  background: #ff9999;
  color: black;
  font-weight: 100;
  font-size: 20px;
  border-color: black; }

.cls-alert-warning {
  border-left: 3px solid;
  background: #ffe5b4;
  color: black;
  font-weight: 100;
  font-size: 20px;
  border-color: black; }
  .cls-alert-warning button {
    border: 2px solid black;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 900;
    transition: 0.1s; }
  .cls-alert-warning button:hover {
    background: black;
    color: #ffe5b4; }

.cls-loading-modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 15px !important;
  background: rgba(0, 0, 0, 0.5); }

.cls-px-0 {
  padding-left: 0px !important;
  padding-left: 0px !important; }

.cls-modal {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px !important; }

.cls-alert-info {
  border-left: 3px solid;
  background: #ccccff;
  color: black;
  font-weight: 100;
  font-size: 20px;
  border-color: black; }
  .cls-alert-info button {
    border: 2px solid black;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 900;
    transition: 0.1s; }
  .cls-alert-info button:hover {
    background: black;
    color: #ccccff; }

.cls-loading-modal-div .loader {
  height: 60px !important;
  position: relative;
  margin: 0 auto;
  width: 100px; }
  .cls-loading-modal-div .loader:before {
    content: '';
    display: block;
    padding-top: 100%; }

.cls-loading-modal-div .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.cls-loading-modal-div .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

@keyframes color {
  100%,
  0% {
    stroke: #20454E; }
  40% {
    stroke: #00c6ff; }
  66% {
    stroke: #20454E; }
  80%,
  90% {
    stroke: #00c6ff; } }

.cls-loading-modal-div body {
  background-color: #eee; }

.cls-loading-modal-div .showbox {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%; }

.cls-a-no-decoration {
  text-decoration: none;
  color: inherit; }

.cls-btn-small {
  padding: 5px 10px !important;
  font-weight: bold;
  font-size: 13px; }

.cls-delete-btn:hover {
  border-color: #BC384B;
  color: white;
  background: #BC384B; }

.cls-update-btn:hover {
  border-color: #00c6ff;
  color: white;
  background: #00c6ff; }

.cls-z-1 {
  z-index: 1; }

.cls-z-2 {
  z-index: 2; }

.cls-btn-small-primary {
  border-color: #00c6ff;
  color: white;
  background: #00c6ff; }

.cls-resultat {
  position: relative;
  z-index: 1; }
  .cls-resultat::before {
    content: '';
    position: absolute;
    background: #ffe5b4;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    z-index: -1; }

.cls-blueDarker-color {
  color: #20454E; }

.cls-bg-grey {
  background: #fafafa; }

.cls-pagination-links-container a {
  padding: 10px !important;
  font-weight: 400 !important;
  color: #20454E;
  font-family: 'segoe ui';
  width: 40px; }

.cls-small-gradient {
  border: none;
  padding: 1px;
  background: url(https://images.unsplash.com/photo-1516937941344-00b4e0337589?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  font-family: 'segoe ui'; }
  .cls-small-gradient::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, rgba(0, 198, 255, 0.48));
    z-index: -1;
    border-radius: 5px; }

.cls-search-container {
  background: rgba(0, 0, 0, 0.3); }
  .cls-search-container input, .cls-search-container button {
    color: #20454E; }

.cls-filter-container {
  font-family: 'segoe ui';
  color: #979da3 !important; }

.cls-filter-checked {
  background: #40454a;
  color: #ffffff; }

.cls-side-nav-li {
  background: rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  border: 1px solid transparent; }
  .cls-side-nav-li:hover {
    background: none;
    border: 1px solid white; }

.cls-demo-pppp {
  color: red; }

.cls-filter-li {
  border-color: #636a71; }
