/*
* This SCSS does not affect your Assets like: 
* Bootstrap..etc
*/

$primary: #00c6ff;
$red: #BC384B;
$yellow: #ffe5b4;
$blueDarker: #20454E;

%bg-primary-gradient {
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, rgba(0, 198, 255, 0.48));  
}


@mixin sm {
  @media (max-width: 700px) {
    @content;
  }  
}



.cls-header{
height: 600px;
border: none;
padding: 1px;
background: url(https://images.unsplash.com/photo-1516937941344-00b4e0337589?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
background-attachment: fixed;
position: relative;

&::before {
content: '';
position: absolute;
width: 100%; height: 100%;
left: 0; top: 0; right: 0; bottom: 0;
background: #00c6ff;
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
background: linear-gradient(to right, #0072ff, rgba(0, 198, 255, 0.48));
z-index: -1;
}

-webkit-clip-path: polygon(100% 0, 100% 88%, 66% 100%, 31% 90%, 0 100%, 0 0);
clip-path: polygon(100% 0, 100% 88%, 66% 100%, 31% 90%, 0 100%, 0 0);

/*@include sm {
  padding: 1px 20px;
  height: 750px;
}*/












}
.cls-logo{
filter: brightness(1000%);
height: 40px;
padding: 0px !important;
}
.cls-navigation-link{
color: white;
position: relative;

&::after {
  content: '';
  width: 50%;
  height: 0px;
  border-radius: 5px; 
  margin: auto;
  bottom: 0;
  left: 0; right: 0;
  background: white;
  position: absolute;
  transition: 0.2s;
}

&:hover::after {
  height: 5px;  
}


}
.cls-navigation-link.cls-special-btn{
position: absolute;
top: 14px;
right: 0;
border: 1px solid white;
z-index: 1;

&::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: white;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: 0.5s;
}

transition: color 1s;
&:hover {
  color: $primary;
  
  &::before {
    width: 100%;
  }
}



}
.cls-header-text{
color: white;
font-size: 40px;
font-family: 'segoe ui';
font-weight: bolder !important;
text-transform: capitalize;
letter-spacing: 1px;
width: 700px;
line-height: 55px;
@media (max-width: 700px) {
  width: 100% !important;
}

}
.cls-header-title{
b {
  font-weight: 100 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
  &::before {
    content: '';
    position: absolute;
    left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
    transform: skew(-25deg);
    background: black;
    border-bottom: 1px solid white;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 30%;
    z-index: -2;
    margin-bottom: -10px; 
    margin-left: 10px;
    transform: skew(-25deg);
    background: black;
  }
}


}
.cls-button{
font-size: 17px;
padding: 10px 15px;
background: transparent;
border: 5px solid black;
color: black;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 500 !important;
transform: rotate(-2deg);
position: relative;
z-index: 1;
margin-top: 50px;
transition: 0.2s;

&::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0; left: 0; right: 0; bottom: 0;
  background: white;
  position: absolute;
  z-index: -1;
  transform: rotate(5deg);
  transition: 0.2s;
}

&:hover {
  transform: rotate(0deg);
  
  &::before {
    transform: rotate(0deg);
  }
}

}
.cls-header-container{
margin-top: 80px;
}
.cls-main-body{
background: white;
font-family: 'segoe ui';
}
.cls-first-label{
font-size: 30px;
font-family: 'segoe ui';
font-weight: 100;
padding-bottom: 0px !important;
font-weight: 100 !important;
text-transform: uppercase;
letter-spacing: 2px;
position: relative;
z-index: 2;

$cubic: cubic-bezier(0.5,1.6,0.4,0.7);
&::before {
  content: '';
  position: absolute;
  left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 30%;
  z-index: -1;
  transform: skew(-25deg);
  background: $yellow;
  border-bottom: 1px solid white;
  transition: 1s;
  transition-timing-function: cubic-bezier();
}

}
.cls-desc-text{
line-height: 35px;
font-size: 30px;
font-weight: 100;
font-family: 'segoe ui';

&::first-letter {
  text-transform: uppercase;
}


@include sm {
  font-size: 25px !important;
  line-height: 30px !important;
}
}
.cls-highlighted{
position: relative;
z-index: 1;

$cubic: cubic-bezier(0.5,1.6,0.4,0.7);
&::before {
  content: '';
  height: 40%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0; right: 0;
  bottom: 0; 
  background: $yellow;
  z-index: -1;
  transition: 1s;
  transition-timing-function: $cubic;
}
}
.cls-section-p{
font-size: 29px;
line-height: 40px;
color: invert(black, 40%);
font-weight: 100;
}
.cls-down-animation{
animation: slide2 1s ease-in-out infinite;
@keyframes slide2 {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

color: white;
width: 50px;
height: 50px;
background: $blueDarker;
border-radius: 100px;
font-size: 25px;
}
.cls-posts-article{
transition: 0.1s;
&:hover {
  background: $blueDarker;

  border: 1px solid transparent;
  border-bottom: none;
  span, h1, i {
    transition: 0.1s;
    color: white !important;
  }
  img {
    transition: 0.1s;
    filter: brightness(1000%);
  }
}
}
.cls-landing-posts-container{
padding: 15px 0px 0px 0px !important;
box-shadow: 0 30px 20px rgba(0,0,0,0.1);
}
.cls-body{
padding-bottom: 50px !important;
}
.cls-footer-container{
padding: 15px 0px !important;
}
.cls-footer-ul{
line-height: 37px;
}
.cls-footer{
color: white;
margin-top: 100px;
height: auto !important;
padding: 50px 0px !important;
background: url(https://images.unsplash.com/photo-1522165078649-823cf4dbaf46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
background-attachment: fixed;
position: relative;
z-index: 1;

&::before {
content: '';
position: absolute;
width: 100%; height: 100%;
left: 0; top: 0; right: 0; bottom: 0;
background: #0008ff;
background: -webkit-linear-gradient(to right, #0008ff, #00c6ff);
background: linear-gradient(to right, #0008ff, rgba(0, 198, 255, 0.48)) ;  
z-index: -1;
}

}
.cls-hover-before{

}
.cls-section-container{
&:hover {
  .cls-hover-before {
    &::before {
      height: 80%;
      background: $primary !important;
    }
  }
}
}
.cls-quoted-p{
&::before {
  content: '\f10d';
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  padding: 15px;
}

&::after {
  content: '\f10e';
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  padding: 15px;
}





}
.cls-shape{
position: relative;
z-index: 1;
&::before {
  content: '';
-webkit-clip-path: polygon(85% 0, 100% 78%, 0 89%, 0 27%);
clip-path: polygon(85% 0, 100% 78%, 0 89%, 0 27%);
height: 100%;
width: 100%;
position: absolute;
top: 0; left: 0;
background: rgba(0,0,0,0.5);
z-index: -1;
}
}
.cls-navigation{
position: relative;
padding-left: 0px !important;
}
.cls-sticky-nav{
background: transparent;
}
.cls-letter-space-px{
letter-spacing: 2px;
}
.cls-gradient{
background: url(https://images.unsplash.com/photo-1496469888073-80de7e952517?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
position: relative;
z-index: 1;
&::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  top: 0;left: 0; right: 0; bottom: 0;
  background: #0008ff;
  background: -webkit-linear-gradient(to right, #0008ff, #00c6ff);
  background: linear-gradient(to right, #0008ff, rgba(0, 198, 255, 0.48)) ;  
  z-index: -1;
}

padding: 50px !important;
p {
  line-height: 60px;
  font-size: 40px;
}
}
.cls-btn-primary{
background: $primary;
color: white;
border-radius: 20px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 100;
position: relative;

&::after {
  content: '\f105';
  font-weight: bold;
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  top: 0; right: 0;
  bottom: 0;
  margin-top: 12px;
  margin-right: 15px;
  opacity: 0;
  transition: 0.6s;
}

transition: 0.5s;

&:hover {
  padding-right: 45px;
  &::after {
    opacity: 1;
  }
}





}
.cls-red{
color: $red;
}
.cls-border-red{
border-color: $red;
}
.cls-form-container{
padding: 30px !important;

.cls-absolute-div {
  margin: 52px;
}
}
.cls-text-white{
color: white;
}
.cls-before-transparent{
&::before {
  background: rgba(0,0,0,0.5);
}
}
.cls-z-index-3{
z-index: 3;
}
.cls-border-hover{
position: relative;
z-index: 1;

&::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  background: $yellow;
  bottom: 0;left: 0; right: 0;
  z-index: -1;
  transition: 0.2s;
}

&:hover {
  &::before {
    height: 30%;
  }
}
}
.cls-small-mobile{
@include sm {
  height: 30px !important;
}
}
.cls-not-bright{
filter: brightness(-100%);
}
.cls-btn-right{
position: absolute !important;
right: 0;
top: 0;
margin: 15px;

&::after {
  content: '\f055' !important;
}


}
.cls-title-label{
text-transform: uppercase;
letter-spacing: 2px;
font-size: 14px;
opacity: 0.9;
}
.cls-p-l-0{
padding-left: 0px !important;
}
.cls-grey-body{
background: #f1f1f1;
position: relative !important;
font-family: 'segoe ui' !important;
}
.cls-pagination-btn{
padding: 10px !important;
opacity: 0.8;
border-bottom: 2px solid transparent;
transition: 0.2s;

&:hover {
  font-weight: bold;
  border-color: black;
}
}
.cls-post-card{
color: $blueDarker;
padding: 20px !important;

}
.cls-post-brand-logo{
width: 70px;
padding: 0px !important;
}
.cls-date-input{
padding-top: 9px !important;
padding-bottom: 9px !important;

}
.cls-profile-side-nav{
padding: 25px !important;
color: white;
font-size: 17px;
font-weight: 100;
}
.cls-p-0{
padding: 0px !important;
}
.cls-side-nav-li{
background: rgba(0,0,0,0.5);
transition: 0.2s;
border: 1px solid transparent;

&:hover {
  background: none;
  border: 1px solid white;
}
}
.cls-side-nav-img-container{
padding: 5px !important;
}
.cls-p-x-0{
padding-left: 0px !important;
padding-right: 0px !important;
}
.cls-letter-spacing-2{
letter-spacing: 2px;
}
.cls-p-y-0{
padding-top: 0px !important;
padding-bottom: 0px !important;
}
.cls-letter-spacing-1{
letter-spacing: 1px;
}
.cls-app-side{
position: fixed !important;
left: 0;
top: 0;
bottom: 0;
}
.cls-cancel-btn{
background: #eee;
color: #2b2b2b;

&::after {
  content: '\f057';
}
}
.cls-alert{
border-left: 3px solid;
background: lighten(green, 60%);
color: darken(green, 100%);
font-weight: 100;
font-size: 20px;
border-color: darken(green, 100%);;
}
.cls-alert-error{
border-left: 3px solid;
background: lighten(red, 30%);
color: darken(red, 100%);
font-weight: 100;
font-size: 20px;
border-color: darken(red, 100%);;
}
.cls-alert-warning{
border-left: 3px solid;
background: $yellow;
color: darken($yellow, 100%);
font-weight: 100;
font-size: 20px;
border-color: darken($yellow, 100%);

button {
  border: 2px solid darken($yellow, 100%);
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 900;
  transition: 0.1s;
}

button:hover {
  background: darken($yellow, 100%);
  color: $yellow;
}
}
.cls-loading-modal{
padding-left: 0px !important;
padding-right: 0px !important;
padding-top: 15px !important;
background: rgba(0,0,0,0.5);
}
.cls-px-0{
padding-left: 0px !important;
padding-left: 0px !important;
}
.cls-modal{
background: rgba(0, 0, 0, 0.5);
padding: 15px !important;
}
.cls-alert-info{
$darkBlue: darken(blue, 100%);
$lightBlue: lighten(blue, 40%);

border-left: 3px solid;
background: $lightBlue;
color: $darkBlue;
font-weight: 100;
font-size: 20px;
border-color: $darkBlue;

button {
  border: 2px solid $darkBlue;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 900;
  transition: 0.1s;
}

button:hover {
  background: $darkBlue;
  color: $lightBlue;
}
}
.cls-loading-modal-div{

$green: $blueDarker;
$blue: $primary;
$red: $blueDarker;
$yellow: $primary;
$white: #eee;

// scaling... any units
$width: 100px;

.loader {
  height: 60px !important;
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

// demo-specific
body {
  background-color: $white;
}
.showbox {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}
}
.cls-a-no-decoration{
text-decoration: none;
color: inherit;
}
.cls-btn-small{
padding: 5px 10px !important;
font-weight: bold;
font-size: 13px;
}
.cls-delete-btn{
&:hover {
  border-color: $red;
  color: white;
  background: $red;
}
}
.cls-update-btn{
&:hover {
  border-color: $primary;
  color: white;
  background: $primary;
}
}
